@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "NEXT Book";
  src: url("../assets/fonts/NEXT otf/NEXT-Book-Regular.otf");
}

@font-face {
  font-family: "Neue Machina";
  src: url("../assets/fonts/neuemachina-regular.otf");
}

.next_book_font {
  font-family: "NEXT Book";
}

.neue_machina_font {
  font-family: "Neue Machina";
}

.introduction_card_content {
  background-image: url('../assets/imgs/introduction_bg.png');
  background-repeat: repeat-x;
}
.introduction_card_content:hover {
  top : -4px;
  left : 4px;
}
